body
{
	margin: 0px;
	padding: 0px;
	color: black;
	font-size:18px;
	background: #f3f3f3;
}

#wrapper
{	
	width: 100%;
	min-height: 90%;
	height: auto;
	margin: auto;
	background-color: #f5ce57;	
	
}

nav
{
	float: right;
	line-height:50px;
	width: 100%;
	background-color: purple;
	color: white;
	text-align: center;

}

a
{
	display: inline-block;
	padding: 5px 5px;
	margin-left: 10px;
	line-height: normal;
	color: white;
	


}

#section
{
	width: 100%;
	min-height: 90%;
	height: auto ;
	padding: 20px;
	overflow: hidden;

}

footer
{
	background-color: #f5ce57;
	width: 100%;
    	line-height: 10px;
	float: left;
    	text-align: center;
    	font-size: 14px;
    	

}

table
{
	border: 2px;
	border-color: black;
	border-style:solid;
	border-collapse: collapse;
	max-width: 1300px;

}
td, tr, th
{
	border : 1px solid black;
	height: 30 px;
	
}
